 html, body{
    margin :0;
    padding :0;
    height: 100%;
 }
 body{
    color: forestgreen;
    display: grid;
    grid-template-columns: minmax(min-content, 25 vw) 1fr;
    grid-template-rows: minmax(min-content, 15 vh) 1fr;
    grid-template-areas: 'sidebar header'
                         'sidebar content';
 }
 .header{
    background-color: red;
    color: rgb(255, 255, 255);
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
 }


 .sidebar{
    background-color: black;
    grid-area : sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
    overflow: auto;
 }

 .item {
    flex: 1;
    background: white;
    padding: 1rem;
    margin: 0.5rem;
    height: max-content;
 }

 .item:hover{
    color:aliceblue;
    background-color: darkolivegreen;
 }

 .content{
    background-color: white;
    color: navy;
    grid-area: content;
    padding-left: 6rem;
    padding-right: 4rem ;
    padding-top: 2rem;
 }
    



